global:
  scrape_interval: 30s

scrape_configs:
- job_name: cadvisor
  static_configs:
  - targets:
    - cadvisor:8080
  
- job_name: node-exporter
  static_configs:
  - targets:
    - nodeexporter:9100
